body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: fixed;
    background-color: black;
    margin: auto;

}

#back-ani {

    position: fixed;
    z-index: -1;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    pointer-events: none;
    overflow: hidden;
    white-space: nowrap;


}

.onze {
    display: flex;
    flex-direction: row;
    color: rgba(6, 128, 37, 0.25);
    font-size: 2rem;


}

.content {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.5rem;
    align-items: center;
    z-index: 1;
}

h6 {
    color: white;
    font-size: 8rem;
    margin: 0px;
    font-family: Agdasima;
}

h2{

    color: white;
    font-size: 1.5rem;
    margin: 0px;  
    text-wrap: none; 
    margin-bottom: 1.5rem;
    font-family: monospace;
}

#start {

    width: 20rem;
    height: 4rem;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    border: #024a02 solid 0.2rem;
    border-radius: 1rem;
    background: linear-gradient(0deg, rgba(1, 84, 22,0.5) 0%, rgba(1, 84, 22, 0.25) 100%);
    cursor: pointer;
    font-family: Agdasima;
}

#glow {
    color: #068025;
    /*animation: flicker 1s infinite;*/
}

@keyframes flicker {
    0% {
        color: rgba(6, 128, 37, 0.25);
    }

    35% {
        color: rgba(6, 128, 37, 0.50);
    }

    75% {
        color: rgba(6, 128, 37, 0.75);
    }

    100% {
        color: rgba(6, 128, 37, 1);
    }
}

/*second page*/
h1 {
    font-size: 5rem;
    color: white;
    z-index: 1;
    font-family: Agdasima;
    margin: 0px;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.container {
    display: flex;
    flex-direction: column;
    justify-items: left;
    align-content: space-evenly;
    height: 16rem;
    width: 40rem;
    background-color: #252222b3;
    border: #024a02 solid 0.25rem;
    border-radius: 0rem 0rem 1rem 1rem;
    padding: 3rem;
    padding-top: 1rem;
    gap: 1.5rem;
    z-index: 2;
    margin-bottom: 3rem;
}

img{

    height: 1.2rem;
    width: 1.2rem;
    align-self:flex-end;
    margin: 0px;
}

#process {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50rem;
    z-index: 2;

}

.radios {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 22.73rem;
    background-color: #252222b3;
    border: #024a02 solid 0.25rem;
    border-style: solid solid none solid;
    border-radius: 1rem 1rem 0rem 0rem;
    cursor: pointer;
    color: #024a02;
    font-family: monospace;

}

.la {


    font-size: 2rem;
    cursor: pointer;
    font-family: monospace;

}

.radios:has(input:checked) {

    background: linear-gradient(0deg, rgba(1, 84, 22,0.5) 0%, rgba(1, 84, 22, 0.25) 100%);
    color: #ffffff;
}

input[type="radio"] {

    display: none;

}


#upload {

    display: flex;
    flex-direction: column;
    justify-items: left;
    align-content: center;

}

#up {
    font-size: x-large;
    font-family: monospace;
    color: white;
}

#pass {

    display: flex;
    flex-direction: column;
    justify-items: left;
    align-content: center;

}

#keyy {
    font-size: x-large;
    font-family: monospace;
    color: white;
}

input[type="file"],
input[type="text"] {
    background: linear-gradient(#ffffff58, #ffffff9b);
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #024a02;
    font-family: monospace;
    color: #024a02;
}

#fileInput {
    left: 300px;
    height: 1.5rem;
    width: 20rem;
    font-size: large;
    color: #024a02;
}

#key {

    height: 1rem;
    width: 20rem;
}

::placeholder {
    color: #024a02;
    font-family: monospace;
    font-size: medium;
}


#downloadLink {
    display: block;
    align-self: center;
    text-decoration: none;
    font-size: xx-large;
    font-family: monospace;
    color: white;
    display: none;
}

.popup {
    display: none; /* Initially hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;  /* Ensure it uses flex to center the content */
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* Pop-up content */
.popup-content {
    background:  #252222b3;
    border: 0.3rem #024a02 solid;
    display: flex;
    flex-direction: column;
    justify-items: left;
    align-content: left;
    margin: 0px;
    gap:0.5rem;
    padding: 20px;
    border-radius: 3rem;
    text-align: center;
    width: 26rem;
    height: 16rem;
    position: relative;
    z-index: 1000;
    text-wrap: wrap;
    color: #ffffff;
    text-align: left;
    font-size: 1.1rem;
    font-family: monospace;
}

/* Close button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

#overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    z-index: 0; /* under your container */
    overflow: hidden;
}



